.app-header {
    width: 600px;
    margin: 0 auto;

    & .app-header__title {
        font-size: 25px;
        line-height: 60px;
        margin: 0;
        background: linear-gradient(45deg, #421744, rgb(12, 38, 95), #410344);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        background-size: 400% 400%;
    }
}