.checklist__item {
  display: flex;
  align-items: center;
  margin-top: 5px;

  &:hover .delete, &:hover .edit  {
      display: block;
  }
}

.checklist__item-title {
  margin-right: auto;
  margin-left: 10px;
}

.checklist__item-title.completed {
  color: rgba(158,158,158,.4);
  text-decoration: line-through;
}